<!DOCTYPE html>
<html lang="en" ng-app="store">
  <!-- attach application module to the page -->
  <!--ng-app directive-->
<head>
  <meta charset="UTF-8">
  <title>CS Angular</title>
  <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body ng-controller="StoreController as store">
  <!--controller-->
  <!-- attach controller function to the page -->

  <ul class="list-group">
    <li class="list-group-item" ng-repeat="product in store.products">
      <h3>
        {{product.name}}
        <em class="pull-right">{{product.price | currency}}</em>
        <img ng-src="{{product.images[0].full}}" class="gem">
      </h3>
    </li>
  </ul>

  <section ng-controller="PanelController as panel">
    <!-- ng-init allows to evaluate expression in the current scope -->
    <ul class="nav nav-pills">

      <li ng-class="{ active: panel.isSelected(1) }">
        <a href ng-click="panel.selectTab(1)">Decription</a>
      </li>
      <li ng-class="{ active: panel.isSelected(2) }">
        <a href ng-click="panel.selectTab(2)">Specifications</a>
      </li>
      <li ng-class="{ active: panel.isSelected(3) }">
        <a href ng-click="panel.selectTab(3)">Reviews</a>
      </li>

    </ul>

    <div class="panel" ng-show="panel.isSelected(1)">
      <h4>Description</h4>
      <p>{{product.description}}</p>
    </div>
    <div class="panel" ng-show="panel.isSelected(2)">
      <h4>Specifications</h4>
      <blockquote>None yet</blockquote>
    </div>
    <div class="panel" ng-show="panel.isSelected(3)">
      <h4>Reviews</h4>
      <blockquote ng-repeat="review in product.reviews">
        <b>Stars: {{review.stars}}</b>
        {{review.body}}
        <cite>by: {{review.author}}</cite>

      </blockquote>

      <form name="reviewForm">
        <select>
          <option value="1">1 star</option>
          <option value="2">2 stars</option>
          <option value="2">3 stars</option>
          <option value="2">4 stars</option>
          <option value="2">5 stars</option>
        </select>
        <textarea></textarea>
        <label>by:</label>
        <input type="email">
        <input type="submit" value="Submit">
      </form>



    </div>
  </section>

    <!-- when ng-click changes the value of tab... -->
    <!-- ... the {{tab}} expression automatically gets updates -->

    <!-- Expressions define a 2-way Data Binding... -->
    <!-- ... means Expressions are re-evaluated when a property changes. -->
  


    <!-- ng-repeat -->
    <!-- repeat a section for each item in an Array -->

    <!-- ng-show -->
    <!-- display a section based on an Expression -->


  <script src="js/lib/jquery.js"></script>
  <script src="js/lib/angular.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
