<!DOCTYPE html>
<!-- ng-app - attach the Application Module to the page -->
<!-- ng-app is a directive -->
<!-- treats html inside element as part of the angular app -->
<html lang="en" ng-app="store">
<head>
  <meta charset="UTF-8">
  <title>Angular CodeSchool</title>
  <link rel="stylesheet" href="./stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="./stylesheets/styles.css">
</head>
<!-- ng-controller - attach a Controller function to the page -->
<!-- ng-show/ng-hide - display a section based on an Expression -->
<!--   -->
<body ng-controller="StoreController as store">
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="product in store.products">
      <h3>
        {{product.name}}
        <em class="pull-right"> {{product.price | currency}}</em>
        <img ng-src="{{product.images[0].full}}">
      </h3>
    </li>
  </ul>
  <section ng-controller="PanelController as panel">
    <ul class="nav nav-pills">
      <!-- active - name of class to set. Expression to evaluate is true, set class to active -->
      <li ng-class="{ active: panel.isSelected(1) }">
        <a href ng-click="panel.selectTab(1)">Description</a>
      </li>
      <li ng-class="{ active: panel.isSelected(2) }">
        <a href ng-click="panel.selectTab(2)">Specifications</a>
      </li>
      <li ng-class="{ active: panel.isSelected(3) }">
        <a href ng-click="panel.selectTab(3)">Reviews</a>
      </li>
    </ul>
    {{tab}}
    <div class="panel" ng-show="panel.isSelected(1)">
      <h4>Description</h4>
      <p>{{product.description}}</p>
    </div>
    <div class="panel" ng-show="panel.isSelected(2)">
      <h4>Specification</h4>
      <p>None yet</p>
    </div>
    <div class="panel" ng-show="panel.isSelected(3)">
      <h4>Reviews</h4>
      <p>None yet</p>
    </div>
  </section>

  <script src="./js/lib/jquery.js"></script>
  <script src="./js/lib/angular.min.js"></script>
  <script src="./js/app.js"></script>
</body>
</html>